<link rel="stylesheet" href="/css/account_info.css">
<link rel="stylesheet" href="/css/nav_sidebar.css">

<!--Sidebar-->
<div class="row mt-3 justify-content-center">
    <%- include("nav_sidebar"); %>

    <!--Account Info -->
    <div class="pb-4 content border col-8 shadow rounded-lg" id="content-data">
        <div class="mx-3 mt-4 mb-5 font-weight-bold">ACCOUNT INFORMATION</div>
        <form class="mx-3">
            <div class="form-group row ml-1">
                <label for="fullName" class="col-2 col-form-labe mt-2 justify-content-left px-0 mx-0">Full
                    Name </label>
                <div class="col-10">
                    <input type="text" class="form-control" id="fullName" value="<%= user.name %>">
                </div>
            </div>

            <div class="form-group row ml-1">
                <label for="phoneNumber" class="col-2 col-form-labe mt-2 justify-content-left px-0 mx-0">Phone
                    Number</label>
                <div class="input-group col-10">
                    <input type="text" class="form-control my-auto" id="phoneNumber" value="<%= user.phone_number %>">
                    <div class="input-group-append">
                        <button type="submit" class="btn my-1 background-secondary button-hover">Send
                            activation code</button>
                    </div>
                </div>
            </div>

            <div class="form-group row ml-1">
                <label for="activeCode" class="col-2 col-form-labe mt-2 justify-content-left px-0 mx-0">Activation
                    Code</label>
                <div class="col-10">
                    <input type="text" class="form-control" id="activeCode"
                        placeholder="Type your activation code sent to the phone number above">
                </div>
            </div>

            <div class="form-group row ml-1">
                <label for="email" class="col-2 col-form-labe mt-2 justify-content-left px-0 mx-0">Email</label>
                <div class="col-10">
                    <input type="email" class="form-control" id="email" value="<%= user.email %>">
                </div>
            </div>

            <div class="form-group row ml-1">
                <label class="col-2 col-form-label mt-2 justify-content-left px-0 mx-0">Gender</label>
                <div class="col-10">
                    <div class="form-check form-check-inline mt-3 justify-between-center">
                        <input class="form-check-input" name="gender" type="radio" id="Male" value="Male"
                            <%= user.gender === 'Male' ? 'checked' : '' %>>
                        <label class="form-check-label" for="Male">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="gender" type="radio" id="Female" value="Female"
                            <%= user.gender === 'Female' ? 'checked' : '' %>>
                        <label class="form-check-label" for="Female">Female</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="gender" type="radio" id="Another" value="Another"
                            <%= user.gender === 'Another' ? 'checked' : '' %>>
                        <label class="form-check-label" for="Another">Another</label>
                    </div>
                </div>
            </div>

            <div class="form-group row ml-1 mt-2">
                <label class="col-2 col-form-label justify-content-left px-0 mx-0">Date of Birth</label>
                <div class="col-10">
                    <div class="input-group date" data-provide="datepicker">
                        <% const date = new Date(user.date_of_birth); %>
                        <% const dateOfBirth = ('0' + date.getDate()).slice(-2) + '/' + ('0' + (date.getMonth() +1 )).slice(-2) + '/' + date.getFullYear(); %>
                        <input type="text" class="form-control" value="<%= dateOfBirth %>">
                        <div class="input-group-append">
                            <div class="btn btn-secondary input-group-addon d-flex align-items-center">
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row ml-1">
                <label for="password" class="col-2 col-form-labe mt-2 justify-content-left px-0 mx-0">Password</label>
                <div class="col-10">
                    <input type="password" class="form-control" id="password"
                        placeholder="Password length from 6 to 32 characters">
                </div>
            </div>

            <div class="form-group row ml-1">
                <label for="retype" class="col-2 col-form-labe mt-2 justify-content-left px-0 mx-0">Retype</label>
                <div class="col-10">
                    <input type="password" class="form-control" id="retype" placeholder="Retype your new password">
                </div>
            </div>

            <div class="form-group row ml-1">
                <label class="col-sm-2 col-form-labe mt-2 justify-content-left"> </label>
                <div class="col-sm-9">
                    <button type="submit" class="btn background-secondary button-hover">Update Information</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-12 mt-5 justify-content-center text-center">
    <a class="justify-content-center text-center" href="#"> NOT WHAT YOU LOOKING FOR? BROWSE MORE>></a>
</div>