<link rel="stylesheet" href="/css/account/orders.css">

<div class="row mt-3 justify-content-center">
    <%- include("nav_sidebar"); %>

    <!--Orders Info -->
    <div class="content border col-8 shadow rounded-lg" id="content-data">
        <div class="row header-content mt-5 ml-3">
            <div class="col-2 float-left text-dark ">
                <h6 class="font-weight-bold">ORDERS</h2>
            </div>
            <div class="col-10">
                <nav aria-label="...">
                    <ul class="pagination  float-right">
                        <li class="disabled">
                            <a class="page-link active" href="#" tabindex="-1">1</a>
                        </li>
                        <li class=""><a class="page-link" href="#">2</a></li>
                        <li class=" "><a class="page-link" href="#">3</a></li>
                        <li class=" "><a class="page-link" href="#">></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container-table container-fluid m-3 mt-5">
            <div class="row table-header">
                <div class="col-2 text-center">Buying Date</div>
                <div class="col-3 text-center">Books</div>
                <div class="col-2 text-center">Price</div>
                <div class="col-3 text-center">Delivery Method</div>
                <div class="col-2 text-center">Status</div>
            </div>
            <hr />
            <% orders.forEach(order => { %>
            <div class="row table-header">
                <% let total = 0; %>
                <% const date = new Date(order.committed_date); %>
                <% const committed_date = ('0' + date.getDate()).slice(-2) + '/' + ('0' + (date.getMonth() +1 )).slice(-2) + '/' + date.getFullYear(); %>
                <div class="col-2 d-flex align-items-center justify-content-center" id="date_book"><%= committed_date %></div>
                <div class="col-3 d-flex align-items-center justify-content-center" data-toggle="dropdown">
                    <a class="nav-link text-primary" id="<%= order._id %>" href="#" data-toggle="dropdown"><%= order.books[0].book.book.title %> ...</a>
                    <div id="dropdown-book" class="dropdown-menu  dropdown-menu" aria-labelledby="<%= order._id %>">
                        <div class="dropdown-item">List books you've bought in this orders</div>
                        <div class="dropdown-divider"></div>
                        <% order.books.forEach(item => { %>
                        <% total += Math.ceil(item.book.price * item.book.discount / 10) / 10 %>
                        <div class="dropdown-item"><%= item.book.book.title %></div>
                        <% }); %>
                    </div>
                </div>
                <% total = Math.ceil(total * 10) / 10; %>
                <% const vat = Math.ceil(total / 10) / 10; %>
                <% const actual = Math.ceil((total + vat) * 10) / 10; %>
                <div class="col-2 d-flex align-items-center justify-content-center">$<%= actual %></div>
                <div class="col-3 d-flex align-items-center justify-content-center"><%= order.delivery_method[0].toUpperCase() + order.delivery_method.slice(1) %></div>
                <div class="col-2 d-flex align-items-center justify-content-center"><%= order.status[0].toUpperCase() + order.status.slice(1) %></div>
            </div>
            <hr />
            <% }); %>
        </div>
    </div>
    <!-- BROWSE MORE -->
    <div class="col-12 mt-5 justify-content-center text-center">
        <a class="justify-content-center text-center" href="#"> NOT WHAT YOU LOOKING FOR? BROWSE MORE>></a>
    </div>
</div>