<link rel="stylesheet" href="/css/browse/browse_books.css">
<script src="/js/browse/browse_books.js"></script>

<div class="row m-0">
    <div class="books-filter-container col-3 px-0">
        <div class="books-filter">
            <div class="genres-and-tags">
                <div class="select-container">
                    <p class="label">Genre</p>
                    <select class="select-genres px-2 py-1 w-100">
                        <option value="all genres">All genres</option>
                        <% genres.forEach(function(genre){ %>
                        <option <%= genre.name === selectedGenre ? 'selected' : '' %> value="<%= genre.name %>">
                            <%= genre.name %>
                        </option>
                        <% }); %>
                    </select>
                </div>
                <div class="tags-container mt-3"></div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="rating-container">
                <p class="label">Rating</p>
                <div onclick="onRatingClicked('5 stars')">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <span>from 5 stars</span>
                </div>
                <div onclick="onRatingClicked('4 stars')">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-black-50"></i>
                    <span>from 4 stars</span>
                </div>
                <div onclick="onRatingClicked('3 stars')">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-black-50"></i>
                    <i class="fas fa-star text-black-50"></i>
                    <span>from 3 stars</span>
                </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="price-container">
                <p class="label">Price</p>
                <form>
                    <input class="form-control price-input min" type="text" placeholder="min">
                    <span> - </span>
                    <input class="form-control price-input max" type="text" placeholder="max">
                    <button class="price-btn btn btn-outline-primary">OK</button>
                </form>
            </div>
            <div class="dropdown-divider"></div>
            <div class="conditions-container">
                <p class="label">Conditions</p>
                <form class="custom-checkbox list-conditions d-flex">
                    <div>
                        <label for="New">
                            <input id="New" type="checkbox" value="New"
                                onchange="toggleTag('condition', this.value, false)" />
                            <span>New</span>
                        </label>
                        <label for="LikeNew">
                            <input id="LikeNew" type="checkbox" value="Like new"
                                onchange="toggleTag('condition', this.value, false)" />
                            <span>Like new</span>
                        </label>
                        <label for="VeryGood">
                            <input id="VeryGood" type="checkbox" value="Very good"
                                onchange="toggleTag('condition', this.value, false)" />
                            <span>Very good</span>
                        </label>
                        <button class="btn btn-outline-primary">OK</button>
                    </div>
                    <span class="px-1"></span>
                    <div>
                        <label for="Good">
                            <input id="Good" type="checkbox" value="Good"
                                onchange="toggleTag('condition', this.value, false)" />
                            <span>Good</span>
                        </label>
                        <label for="Acceptable">
                            <input id="Acceptable" type="checkbox" value="Acceptable"
                                onchange="toggleTag('condition', this.value, false)" />
                            <span>Acceptable</span>
                        </label>
                        <label for="ABitOld">
                            <input id="ABitOld" type="checkbox" value="A bit old"
                                onchange="toggleTag('condition', this.value, false)" />
                            <span>A bit old</span>
                        </label>
                    </div>
                </form>
            </div>
            <div class="dropdown-divider"></div>
            <div class="languages-container">
                <p class="label">Languages</p>
                <form class="custom-checkbox list-languages d-flex">
                    <div>
                        <label for="Vietnamese">
                            <input id="Vietnamese" type="checkbox" value="Vietnamese"
                                onchange="toggleTag('language', this.value, false)" />
                            <span>Vietnamese</span>
                        </label>
                        <label for="English">
                            <input id="English" type="checkbox" value="English"
                                onchange="toggleTag('language', this.value, false)" />
                            <span>English</span>
                        </label>
                        <button class="btn btn-outline-primary">OK</button>
                    </div>
                    <span class="px-1"></span>
                    <div>
                        <label for="German">
                            <input id="German" type="checkbox" value="German"
                                onchange="toggleTag('language', this.value, false)" />
                            <span>German</span>
                        </label>
                        <label for="Chinese">
                            <input id="Chinese" type="checkbox" value="Chinese"
                                onchange="toggleTag('language', this.value, false)" />
                            <span>Chinese</span>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="list-books-container col-9 shadow-sm text-nowrap py-2 px-4">
        <ul class="nav justify-content-between">
            <p class="text-muted m-0 mr-2">Sort by</p>
            <li class="nav-item">
                <a href="javascript:sortByClicked('new')" class="nav-link text-uppercase text-dark">NEW</a>
            </li>
            <li class="nav-item">
                <a href="javascript:sortByClicked('best-sell')" class="nav-link text-uppercase text-dark">BEST
                    SELL</a>
            </li>
            <li class="nav-item">
                <a href="javascript:sortByClicked('high-discount')" class="nav-link text-uppercase text-dark">HIGH
                    DISCOUNT</a>
            </li>
            <li class="nav-item pr-3" style="display: flex; align-items: center;">
                <a href="javascript:sortByClicked('price-descending')"
                    class="nav-link text-uppercase text-dark d-flex justify-content-center pr-0">PRICE<svg
                        class="avoid-clicks" viewBox="0 0 16 14" fill="#000" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8.23571 13.9146L13.2357 9.53955C13.3659 9.42561 13.3659 9.24104 13.2357 9.12712C13.1055 9.01318 12.8946 9.01318 12.7644 9.12712L8.33337 13.0043V0.291676C8.33337 0.130457 8.18427 0 8.00002 0C7.81577 0 7.66668 0.130457 7.66668 0.291676L7.66668 13.0043L3.23571 9.12712C3.10549 9.01318 2.89455 9.01318 2.76437 9.12712C2.69927 9.18408 2.66671 9.25873 2.66671 9.33335C2.66671 9.40797 2.69927 9.48259 2.76437 9.53958L7.76437 13.9146C7.89455 14.0285 8.10549 14.0285 8.23571 13.9146Z" />
                    </svg>
                </a>

            </li>
            <li class="nav-item pr-3" style="display: flex; align-items: center;">
                <a href="javascript:sortByClicked('price-ascending')"
                    class="nav-link text-uppercase text-dark d-flex justify-content-center pr-0">PRICE<svg
                        class="avoid-clicks" viewBox="0 0 16 14" fill="#000" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.76429 0.0854492L2.76429 4.46045C2.63407 4.57439 2.63407 4.75896 2.76429 4.87288C2.89451 4.98682 3.10545 4.98682 3.23563 4.87288L7.66663 0.995749L7.66663 13.7083C7.66663 13.8695 7.81573 14 7.99998 14C8.18423 14 8.33332 13.8695 8.33332 13.7083V0.995749L12.7643 4.87288C12.8945 4.98682 13.1054 4.98682 13.2356 4.87288C13.3007 4.81592 13.3333 4.74127 13.3333 4.66665C13.3333 4.59203 13.3007 4.51741 13.2356 4.46042L8.23563 0.0854216C8.10545 -0.028492 7.89451 -0.028492 7.76429 0.0854492Z" />
                    </svg>
                </a>

            </li>
            <form class="search-container ml-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search in this list">
                    <div class="input-group-append">
                        <button class="btn btn-secondary button-hover"><i
                                class="fas fa-search avoid-clicks"></i></button>
                    </div>
                </div>
            </form>
        </ul>
        <div class="dropdown-divider"></div>
        <div class="list-books row mt-2 text-wrap">
            <% bookInstances.forEach(bookInstance => { %>
            <div class="book col-12 col-sm-6 col-lg-4 col-xl-3"
                onclick="location.href='/browse/book?id=<%= bookInstance._id %>'">
                <div class="card my-2 pt-3">
                    <div class="book-cover"><img src="/images/<%= bookInstance.book.image_url %>" class="card-img-top">
                    </div>
                    <div class="card-body">
                        <div class="book-name"><%= bookInstance.book.title %></div>
                        <a class="d-block book-author text-truncate text-center"
                            href="/browse/author?id=<%= bookInstance.book.author[0]._id %>">
                            <%= bookInstance.book.author[0].name %>
                        </a>
                        <div class="mb-2">
                            <span class="book-price mr-2">$<%= bookInstance.price %></span>
                            <span style="color: grey; text-decoration: line-through;">$<%= Math.ceil(bookInstance.price * bookInstance.discount / 10) / 10 %></span>
                        </div>
                        <button onclick="event.stopPropagation(); addToCart('<%= bookInstance._id %>')"
                            class="btn w-100">Add to
                            cart</button>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
        <ul class="pagination justify-content-end">
            <li class="page-item <%= (selectedPage == 1) ? 'disabled' : '' %>">
                <a class="page-link" href="javascript:onPaginationClicked('Previous')">Previous</a>
            </li>
            <% renderedPages.forEach((renderedPage) => { %>
            <li class="page-item <%= (renderedPage == selectedPage) ? 'active' : '' %>">
                <a class="page-link"
                    href="javascript:onPaginationClicked('<%= renderedPage %>')"><%= renderedPage %></a>
            </li>
            <% }); %>
            <li class="page-item <%= (selectedPage == totalPages) ? 'disabled' : '' %>">
                <a class="page-link" href="javascript:onPaginationClicked('Next')">Next</a>
            </li>
        </ul>
    </div>
</div>